:root{
    --under-bg-color:rgb(235, 226, 212);
}
.longer{
    width: 50rem;
}
html{
    background-color: var(--under-bg-color);
}
body{
    background-color: var(--under-bg-color);
}

#block{
    padding: 1rem 0 3rem 1rem;
    background-color: var(--under-bg-color);
    height: 3rem;
}

#done-title{
    padding: 25px 0 10px 0;
    margin: 0 auto;
    width: 60rem;
    color:rgb(175, 30, 194);
    margin-top:5rem;
}
#pending-title{
    padding: 0px 0 10px 0;
    margin: 0 auto;
    width: 60rem;
    color:rgb(142, 189, 12);
}
.form-control-ext1{
    background-color: var(--under-bg-color);
    border:none;
}

.todo_font{
    font-size: 2.1rem;
    padding-left:1rem;
}

.todo_check{
    width: 25px;
    height: 25px;
}


.chk
{
    display:inline-block;
    width:25px;
    height:25px;
    border-radius: 3px;
    padding:2px;
    border:1px #ccc solid;
    cursor:pointer;
}
.chk[checked]{
    background:url(../img/trash-bin.png);
}
.chk[unchecked]{
    background-image: url("../img/trash-bin.ico");
}
.check_box_display-none[type=unchecked]
{
    display:none;
}
.check_box_display-none[type=checkbox]{
    display:none;

}
.check-del{
    display:none;
}

.container-copyright{
    height: 20vh;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: var(--under-bg-color);
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.container-copyright .container-copyright-label{
    margin: auto;
    padding-top: 8vh;
    width: 20rem;
    align-items: center;
    justify-content: center;
}
.todo-delete{
    width: 60rem;
}
.todo-form {
    border: 1px solid rgb(32,80,102);
    padding: 25px 20px;
    background-color: #f3f3f3;
    border-radius: 8px;
    margin: 30px auto 50px auto;
    width: 60rem;
}
.todo-item{
    margin: 10px auto;
    font-size: 1.5rem;
    color:black;
    border: 1px solid black;
    background-color: #f3f3f3;
    width: 60rem;
    box-shadow: 0 2px 2px #b1b1b1;
    border-radius: 6px;
}

@media(max-width:768px){
    .longer{
        width:25rem;
    }
    .todo-item{
            width:550px;
            margin-left: auto;
            margin-right: auto;
        }
        .todo-form{
            width:550px;
            margin-left: auto;
            margin-right: auto;
        }

}

.debug{
    border: 1px solid green;
}
.line-through{
    text-decoration: line-through;
}
.margin-bot-2rem{
    margin-bottom: 2rem;
}
.margin-bot-5rem{
    margin-bottom: 5rem;
}
.width-60rem{
    width: 60rem;
}