.pets{
    border: 1px solid #15941f;
    border-radius: 1rem;
    padding:1rem;
    margin-top:1rem;
    width: 40rem;
}

.pets h2{
    margin-bottom: 3rem;
}

.pet-picture{
    width:100px;
    height:100px;
}

.pet-picture-container{
    width: 101px;
    height: 150px;
    display:flex;
    flex-direction: column;
}

.container-pictures{
    display:flex;
}